<th:block th:fragment="footer" xmlns:th="http://www.thymeleaf.org">

    <section id="rea">
        <div class="container-xxl">
            <div class="row align-items-center">
                <div class="col-lg order-lg-1 text-center"><img class="img-fluid" th:src="@{/images/illustrations/hero2.png}" alt=""/></div>
                <div class="col-lg mt-5 mt-lg-0">
                    <h1 class="lh-sm font-cursive fw-medium display-5">Start an Open Enterprise</h1>
                    <p class="mt-4 fs-1">If you can’t wait to run a new or existing organization on Open Enterprise and
                        are willing to explore and navigate the beta, we’d love to get you started.</p>
                    <button class="btn btn-success mt-4">Request early access</button>
                </div>
            </div>
        </div>
    </section>

    <section  class="py-4">
        <div class="container-xxl">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6 text-sm-center text-lg-start">
                    <h2 th:text="#{app.title}" class="mb-lg-0">.</h2>
                </div>
                <div class="col-lg-6 text-sm-center text-lg-end">
                    <p class="mb-0">&copy; This template is made with ❤️ by <a
                        href="https://themewagon.com/">ThemeWagon</a></p>
                </div>
            </div>
        </div>
    </section>

</th:block>