<nav th:fragment="header" xmlns:th="http://www.thymeleaf.org"
     class="navbar navbar-expand-xl navbar-light fixed-top px-0 pb-0 mb-2"
     id="navbar"
     data-navbar-darken-on-scroll="white"
>
    <div class="container-fluid align-items-center py-2">
        <a class="navbar-brand flex-center" th:href="@{/}">
            <img class="logo" th:src="@{/images/logo.png}" th:alt="#{app.title}" />
            <span th:text="#{app.title}" class="ms-2 d-none d-sm-block fw-bold">.</span>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto mt-3 mt-xl-0">
                <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#hero">Why Open Enterprise </a></li>
                <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#features">Features </a></li>
                <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#contribute">Contribute </a></li>
                <li class="nav-item ps-0 ps-xl-4 ms-2"><a class="nav-link fs-2 fw-medium" href="#rea">Request early access </a></li>
            </ul>
        </div>
    </div>
</nav>