<th:block th:fragment="navigation" xmlns:th="http://www.thymeleaf.org">

    <ul class="navbar-nav mr-auto mt-3 mt-xl-0">
        <li class="nav-item ps-0 ps-xl-4 ms-2"><a th:href="@{/}" class="nav-link fs-2 fw-medium">Főoldal</a></li>
        <li class="nav-item ps-0 ps-xl-4 ms-2"><a th:href="@{/soap}" class="nav-link fs-2 fw-medium">SOAP</a></li>
        <li class="nav-item dropdown ps-0 ps-xl-4 ms-2">
            <a href="#"
               class="nav-link dropdown-toggle fs-2 fw-medium"
               id="navbarForexDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
            >Forex</a>
            <ul class="dropdown-menu" aria-labelledby="navbarForexDropdown">
                <li><a class="dropdown-item" th:href="@{/forex-account}">Account</a></li>
                <li><a class="dropdown-item" th:href="@{/forex-aktar}">AktÁr</a></li>
                <li><a class="dropdown-item" th:href="@{/forex-histar}">HistÁr</a></li>
                <li><a class="dropdown-item" th:href="@{/forex-nyit}">Nyit</a></li>
                <li><a class="dropdown-item" th:href="@{/forex-poz}">Poz</a></li>
                <li><a class="dropdown-item" th:href="@{/forex-zar}">Zár</a></li>
            </ul>
        </li>
    </ul>

</th:block>