<th:block th:fragment="navigation" xmlns:th="http://www.thymeleaf.org">

    <ul class="navbar-nav mr-auto mt-3 mt-xl-0">
        <li class="nav-item ps-0 ps-xl-4 ms-2"><a th:href="@{/}" class="nav-link fs-2 fw-medium">Főoldal</a></li>
        <li class="nav-item ps-0 ps-xl-4 ms-2"><a th:href="@{/soap}" class="nav-link fs-2 fw-medium">SOAP</a></li>
        <li class="nav-item dropdown ps-0 ps-xl-4 ms-2">
            <a href="#"
               class="nav-link dropdown-toggle fs-2 fw-medium"
               id="navbarForexDropdown"
               role="button"
               data-bs-toggle="dropdown"
               aria-expanded="false"
            >Forex</a>
            <ul class="dropdown-menu" aria-labelledby="navbarForexDropdown">
                <li><a th:href="@{/forex-account}" class="dropdown-item">Account</a></li>
                <li><a th:href="@{/forex-aktar}" class="dropdown-item">AktÁr</a></li>
                <li><a th:href="@{/forex-histar}" class="dropdown-item">HistÁr</a></li>
                <li><a th:href="@{/forex-nyit}" class="dropdown-item">Nyit</a></li>
                <li><a th:href="@{/forex-poz}" class="dropdown-item">Poz</a></li>
                <li><a th:href="@{/forex-zar}" class="dropdown-item">Zár</a></li>
            </ul>
        </li>
    </ul>

</th:block>