<!DOCTYPE html>
<html lang="hu" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/default_layout :: layout(pageTitle=${pageTitle}, content=~{:: content})}">
<body><!--/* A gyökér elem lecserélődik, ezért ami itt van, az lényegtelen, de a tartalomnak valahol lennie kell. */-->
<th:block th:fragment="content">

    <section class="pt-8 py-lg-0" id="hero" style="background-color:#f3f0ea;">
        <div class="container-xxl">
            <div class="row align-items-center min-vh-lg-50">
                <div class="col-lg order-lg-1 text-center">
                    <img class="img-fluid" th:src="@{/images/illustrations/hero-aktar.png}" alt="" />
                </div>
                <div class="col-lg mt-5 mt-lg-0">
                    <h1 th:text="${heroMessage}" class="lh-sm font-cursive fw-medium fs-6 fs-sm-8 fs-md-11 fs-lg-9 fs-xl-11 fs-xxl-12"></h1>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 my-5">
        <div class="container-xxl">
            <div class="row justify-content-center">
                <div class="col-md-8 col-lg-6">
                    <h2 class="text-center mb-4">Aktuális árfolyam lekérdezése</h2>
                    <form action="#" th:action="@{/forex-aktar}" th:object="${param}" method="post">
                        <div class="mb-3">
                            <label for="instrumentSelect" class="form-label">Válassz devizapárt:</label>
                            <select id="instrumentSelect" class="form-select form-select-lg" name="instruments" th:field="*{instrument}">
                                <option value="EUR_USD">EUR <-> USD</option>
                                <option value="USD_CHF">USD <-> CHF</option>
                                <option value="GBP_USD">GBP <-> USD</option>
                                <option value="USD_JPY">USD <-> JPY</option>
                                <option value="EUR_HUF">EUR <-> HUF</option>
                                <option value="USD_HUF">USD <-> HUF</option>
                                <option value="PLN_HUF">PLN <-> HUF (hibakezelés miatt)</option>
                            </select>
                        </div>
                        <div class="d-grid">
                            <input type="submit" value="Lekérdezés" class="btn btn-primary btn-lg">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

</th:block>
</body>
</html>